@model IT_Consulting_CRM_Web.Models.Services

@using (Html.BeginForm())
{
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style1.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <style type="text/css">

        .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
        }
    </style>
</head>

    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <label class="lable" asp-for="Header">Добавить заголовок:</label>
    <input asp-for="Header" />
    <span asp-validation-for="Header"></span>
    <br />

    <label class="lable" asp-for="ServicesInformation">Добавить описание:</label>
    <input asp-for="ServicesInformation" />
    <span asp-validation-for="ServicesInformation"></span>
    <br />

    <input class="btn" type="submit" value="Сохранить" />
    <a class="btn" asp-action="Index">Отмена</a>
}
