@using IT_Consulting_CRM_Web.Controllers
@model IT_Consulting_CRM_Web.Models.Requests
@{ ViewData["Title"] = "Requests"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=10" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <style type="text/css">
        .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
        }

        .brd {
            border: 4px double black; /* Параметры границы */
            background: #e9e5e5; /* Цвет фона */
            padding: 20px; /* Поля вокруг текста */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (AccountController.Role == "admin")
                    {
                        <li class="nav-item"><a class="nav-link" asp-controller="Requests" asp-action="Worktable">РАБОЧИЙ СТОЛ</a></li>
                    }
                    else
                    {
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Services" asp-action="Service">УСЛУГИ</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Projects" asp-action="Project">ПРОЕКТЫ</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Blog">БЛОГ</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">КОНТАКТЫ</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header - set the background image for the header in the line below-->
    <header>
        <div class="py-5 bg-image-full" style="background-image: url('img/main_image.jpg')">
            <div style="height:42em"></div>
        </div>
    </header>
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="row" style="align-content:center;">
                        <div class="brd">
                            <header>Оставить заявку или задать вопрос</header>
                            <form asp-action="Sendrequest">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="brd">
                                    Имя
                                    <input asp-for="Name" class="form-control" value="" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="brd">
                                    Фамилия
                                    <input asp-for="SurName" class="form-control" value="" />
                                    <span asp-validation-for="SurName" class="text-danger"></span>
                                </div>
                                <div class="brd">
                                    E-mail
                                    <input asp-for="EMail" class="form-control" value="" />
                                    <span asp-validation-for="EMail" class="text-danger"></span>
                                </div>
                                <div class="brd">
                                    Задать вопрос
                                    <input asp-for="Information" class="form-control" value="" />
                                    <span asp-validation-for="Information" class="text-danger"></span>
                                </div>
                                <div class="brd">
                                    <input type="submit" value="Оставить заявку" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-lg-3 bg-dark">
        <div class="container">
            <p class="m-1 text-center text-white">#SkillProfi &copy; 2022</p>
            <p class="m-0 text-center text-white">Все права защищены</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
