<p id="TitleName">Ваша заявка принята!<br />Благодарим за обращение!</p>
<ul class="btn btn-primary">
    <li class="nav-item"><a class="nav-link text-black" asp-controller="Home" asp-action="Index">На Главную страницу</a></li>
</ul>
