<p id="TitleName" style="color:red">Упс! Что-то пошло не так.</p>
<ul class="btn btn-primary">
    <li class="nav-item"><a class="nav-link text-black" asp-controller="Home" asp-action="Index">На Главную страницу</a></li>
</ul>
