@model IT_Consulting_CRM_Web.ViewModels.CreateUserViewModel
@{
    ViewData["Title"] = "Create user";
}

<head>
    <title></title>
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <style type="text/css">

        .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
        }
    </style>
</head>

<form class="form-main" asp-action="Create" asp-controller="Users" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="All "></div>

    <label class="lable" asp-for="Username">Логин:</label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />

    <label class="lable" asp-for="Password">Пароль:</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label class="lable" asp-for="ConfirmPassword">Подтвердить пароль:</label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword"></span>
    <br />

    <input class="btn" type="submit" value="Create" />
    <a class="btn" asp-action="Index">Отмена</a>
</form>