@using IT_Consulting_CRM_Web.Controllers
@using IT_Consulting_CRM_Web.ViewModels
@model List<LoginViewModel>
@{
    ViewData["Title"] = "Users list";
}
@if (AccountController.Role == "admin")
{
    <table class="simple-little-table">
        <tr style="font-size:20px;">
            <td>Имя пользователя</td>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                    <td>@item.Username</td>
            </tr>
        }        
    </table>
}