@using IT_Consulting_CRM_Web.Controllers
@using IT_Consulting_CRM_Web.ViewModels
@model IEnumerable<LoginViewModel>
@{
    ViewData["Title"] = "Users list";
}
@if (AccountController.Role == "admin")
{
    <table class="simple-little-table">
        <tr style="font-size:20px;">
            <th>Имя пользователя</th>
            <th></th>
        </tr>
        @foreach(var item in Model.ToList().ToString())
        {
            <tr>
                <th>@item</th>
            </tr>
        }
        
    </table>

}