@if (User.Identity.IsAuthenticated)
{
<head>
    <title></title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style1.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <style type="text/css">

        .btn {
            text-decoration: none;
            position: center;
            height: 40px;
            line-height: 40px;
            padding: 0 50px 0 50px;
            margin: 0 10px;
            background: linear-gradient(-135deg, #00E5FE, #4463FE);
            border-width: 0;
            border-radius: 50px;
            font-size: 15px;
            color: white;
            outline: none;
            cursor: pointer;
        }
    </style>
</head>
    <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Пользователи</a>
        </li>
        <li class="nav-item">
            <form class="link-logout form-second" method="post" asp-controller="Account" asp-action="Logout" id="logoutform">
                <a class="nav-link text-dark" href="#" onclick="document.getElementById('logoutform').submit()">Выйти</a>
            </form>
        </li>
    </ul>
    <div class="login">@User.Identity.Name</div>
}
else
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    </ul>
}
